.showListContainer {
	padding: 50px;
	padding-top: 10px;
}

.rdfContainer {
	padding: 50px;
}

/* A RDF table should only has inner borders*/

.rdfTable td, .rdfTable th {
	text-align: center;
	width: 200px;
	padding: 10px;
}
.rdfTable {
  border-collapse: collapse;
  position: relative;
  margin-left: -330px;
  left: 50%;
}
.rdfTable td, .rdfTable th {
  border: 1px solid black;
	border-bottom: 0; /* No borders between td rows*/
	border-top: 0; /* No borders between td rows*/
}
.rdfTable tr:first-child th {
  border-top: 0;
	border-bottom: 1px solid black;
}
.rdfTable tr:last-child td {
  border-bottom: 0;
}
.rdfTable tr td:first-child,
.rdfTable tr th:first-child {
  border-left: 0;
}
.rdfTable tr td:last-child,
.rdfTable tr th:last-child {
  border-right: 0;
}

#start {
	top: 50%;
	margin-top: -60px;
	left: 50%;
	margin-left: -25px;
}

html {
	background-color: #FFF;
}

body {
	background-color: #FFF;
  margin: 0;
}

h1 {
	display: inline-table;
	border-bottom: none;
	margin-bottom: 0px;
	color: #555
}

.table-content-view {
	position: absolute;
	left: 50px;
	top: 170px;
	bottom: 30px;
	right: 50px;
	border: solid 2px #AAA;
	background-color: #EEF;
	padding: 5px;
	overflow: auto;
}

.table-source-view {
	text-align: center;
	color: #555;
	padding: 5px;
	position: relative;
	left: 20%;
  display: inline-block;
  padding-bottom: 0px;
  vertical-align: bottom;
}
