{% load staticfiles %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
	<title>Test Tool: Extracting key column from wikipedia tables</title>
	<meta charset="utf-8" />

	<!-- Wikipedia styles START -->
	<link rel="stylesheet" href="http://en.wikipedia.org/w/load.php?debug=false&amp;lang=en&amp;modules=ext.gadget.DRN-wizard%2CReferenceTooltips%2Ccharinsert%2Cfeatured-articles-links%2CrefToolbar%2Cswitcher%2Cteahouse%7Cext.rtlcite%2Cwikihiero%2CwikimediaBadges%7Cext.uls.nojs%7Cext.visualEditor.viewPageTarget.noscript%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cmediawiki.ui.button%7Cskins.vector.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector&amp;*">
	<link rel="stylesheet" href="http://en.wikipedia.org/w/load.php?debug=false&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=vector&amp;*">
	<link rel="stylesheet" href="{%static 'test_tool_key_extraction/wikipedia.css' %}">
	<!-- Wikipedia styles END -->

	<link href="{%static 'test_tool_key_extraction/view.css' %}" rel="stylesheet">

	<script src="{%static 'test_tool_key_extraction/jquery.js' %}"></script>
	<script src="{%static 'test_tool_key_extraction/app.js' %}"></script>
	<script src="{%static 'test_tool_key_extraction/shortcut.js' %}"></script>
</head>
<body>
	<div class="startContainer">
		<button id="start" type="button" class="decissionButton" onclick="loadNextPost()">Go (g)</button>
	</div>
	<div class="container">
		<div>
			<h1>Choose key column!</h1>
			<br/>
			<div id="table-source" class="table-source-view">
				List of post-1692 Anglican parishes in the Province of Maryland
			</div>
			<div id="table-content" class="table-content-view">
			</div>
		</div>
	</div>
	<div class="submit-panel">
		<label id="decission-status" class="redDec">There is no single key column</label>
		&nbsp;&nbsp;&nbsp;
		<button id="demand" type="button" class="decissionButton" onclick="evalResult()">Submit (s)</button>
		<button id="skip" type="button" class="decissionButton skipButton" onclick="loadNextPost()">Skip (a)</button>
	</div>

	<script>
		$(document).keydown(function(e) {
			if (e.which == 71) // 'g' pressed
				loadNextPost()
		    else if(e.which == 83) // 's' pressed
				evalResult()
		    else if (e.which == 82) // 'r' pressed
				deselectRadioButton()
		    else if (e.which == 65) // 'a' pressed
				loadNextPost()
			// (TODO): Mit Ziffern Spalte auswählen
			else
				return

		    e.preventDefault(); // prevent the default action (scroll / move caret)
		});

		// Onload:
		$('.container').hide()
		$('.submit-panel').hide()
	</script>
</body>
</html>

<!-- Comments:

-->
